/* SANAZ will working on this file - pls delete this comment sanaz */
:root {
  --clr-icons: #929292;
  --clr-text: #ffffff;
  --clr-bg-dark: #242424;
  --clr-bg-light: #3b3b3b;
  --clr-accent: #ff7600;
}